.un-actif {
    display: flex;
    gap: 15px;
    border-radius: 10px;
    padding: 6px 8px;
    background-color: #242424;
    width: auto;
}

.header {
    display: flex;
    gap: 10px;
}

    .header label {
        font-size: 16px;
    }

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.info {
    display: grid;
    position: relative;
}

    .info:not(:last-child)::after {
        content: "";
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 35px;
        background: linear-gradient( transparent, rgba(255,255,255,.25), transparent );
    }

    .info label {
        white-space: nowrap;
        font-size: 15px;
    }

span {
    white-space: nowrap;
    font-size: 13px;
}

@media (min-width: 1700px) {
    .header label {
        font-size: 20px;
    }

    .info label {

        font-size: 19px;
    }

    span {
        font-size: 15px;
    }
}
