.info-invest-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background: #242424;
    padding: 6px 10px;
    border-radius: 10px;
}

    .info-invest-total span:first-child {
        font-size: 16px;
        font-weight: 700;
    }


    .info-invest-total span:last-child {
        font-size: 12px;
        font-weight: 400;
    }

    .infos-invest {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

.info-invest {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background: #242424;
    padding: 6px 10px;
    border-radius: 10px;
}

    .info-invest .variation:first-child span:first-child,
    .info-invest > .variation:first-child span.goldenrod,
    .info-invest > .variation:first-child span.white {
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
    }

    .info-invest .gris {
        font-size: 12px;
        font-weight: 400;
    }

    .info-invest .variation:last-child {
        display: flex;
        align-items: center;
        gap: 4px;
    }

        .info-invest .variation:last-child span.vert,
        .info-invest .variation:last-child span.rouge {
            font-size: 13px;
            font-weight: 600;
        }

.content {
    gap: 0;
}

    .content .header {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: right;
    }