.investissement-infos {
    display: flex;
    background-color: #242424;
    padding: 5px;
    border-radius: 10px;
}

    .investissement-infos .form-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 5px 40px;
        align-items: center;
        width: 100%
    }

        .investissement-infos .form-grid label {
            color: #999;
            font-size: 16px;
            font-weight: 500;
        }
