@using Investissement_WebClient.Application.ChartsOptions
@using Investissement_WebClient.Application.ViewsModels.Graphiques.Investissements
@using Investissement_WebClient.Web.Components.ViewsModels

<div class="header">
    <label>Investissements</label>
    <div class="investissement-infos">
        <div class="form-grid">
            <label>Médian mensuel</label>
            <div class="info" style="text-align: end">
                <span>@(Model.InvestissementMedianMensuel == 0 ? "--,--" : Model.InvestissementMedianMensuel.ToString("C"))</span>
            </div>

            <label>Total</label>
            <div class="info">
                <span>@(Model.InvestissementTotal == 0 ? "--,--" : Model.InvestissementTotal.ToString("C"))</span>
            </div>
        </div>
    </div>
</div>

@if (Model.InvestissementsParMois.Any())
{
    <div class="investissement-content">
        <ApexChart TItem="InvestissementParMoisVM"
                    XAxisType="XAxisType.Datetime"
                    Options="_options">        

            <ApexPointSeries TItem="InvestissementParMoisVM"
                                Items="Model.InvestissementsParMois"
                                SeriesType="SeriesType.Line"
                                Name="Investissement"
                                YValue="@(e => e.Investissement)"
                                XValue="@(e => e.Date)"
                                ShowDataLabels />
        </ApexChart>
    </div>
}
else if (Model.ChargementEncours)
{
    <_ChargementGraphique />
}
else
{
    <p>Aucun investissement effecuté.</p>
}

@code {
    [Parameter] public required InvestissementViewModel Model { get; set; }

    private ApexChartOptions<InvestissementParMoisVM> _options = null!;

    protected override void OnParametersSet()
    {
        _options = ProfilChartsOptions.OptionsInvestissementParMois;

        _options.Annotations = new Annotations
        {
            Yaxis = new List<AnnotationsYAxis>
            {
                new AnnotationsYAxis
                {
                    Y = Model.InvestissementMedianMensuel,
                    BorderColor = "grey",
                    StrokeDashArray = 4,
                    BorderWidth = 2,
                    Label = new Label
                    {
                        Text = $"Médian : {Model.InvestissementMedianMensuel.ToString("C")}",
                        Position = LabelPosition.Right,
                        Style = new Style
                        {
                            Background = "#1e1e1e",
                            Padding = new Padding { Left = 5, Right = 5, Top = 3, Bottom = 3 }
                        }
                    }
                }
            }
        };
    }
}
