@using Investissement_WebClient.Web.Components.ViewsModels
@using System.Globalization

@page "/"
@inject NavigationManager Nav
@inject InvestissementViewModel IVM
@implements IDisposable
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Investissement</PageTitle>

<div class="investissement">
    <div class="transactions">
        <_TransactionsInvestissement Model="@IVM"/>
    </div>

    <div class="investissement-moyen">
        <_InvestissementMoyen Model="@IVM"/>
    </div>

    <div class="evolution-actifs">
        <div class="mes-actifs">
            <_EvolutionActifs InfoInvestParActif="@IVM.InfoInvestParActif" />
            <_EvolutionActifs InfoInvestParActif="@IVM.InfoInvestParActif" />
        </div>
    </div>
</div>

@code{
    [Parameter][SupplyParameterFromQuery(Name = "code")] public string? CodeRetour { get; set; }
    private CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        IVM.OnChange += StateHasChanged;

        if (CodeRetour != null)
        {
            await FinaliserConnexionBanque();
        }
        else
        {
            await IVM.LoadData();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _ = LoadDataBoucle(_cts.Token);
        }
    }

    private async Task FinaliserConnexionBanque()
    {
        await IVM.FinaliserConnexionBanque(CodeRetour);
        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            return;
        }

        Nav.NavigateTo("/budget?sync=ok", replace: true);
    }

    private async Task LoadDataBoucle(CancellationToken stoppingToken)
    {
        try
        {
            while (!stoppingToken.IsCancellationRequested)
            {
                await IVM.LoadDataPrixParActif();
                StateHasChanged();

                await Task.Delay(TimeSpan.FromMinutes(1), stoppingToken);
            }
        }
        catch (OperationCanceledException) { Console.WriteLine("Arret du chargement investissement"); }
    }

    public void Dispose()
    {
        IVM.OnChange -= StateHasChanged;
        _cts.Cancel();
        _cts.Dispose();
    }
}

