/* --- LAYOUT PRINCIPAL --- */
.investissement {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/* COMMUN BLOCS */
.investissement-moyen,
.transactions,
.evolution-actifs {
    min-height: 0;
    max-height: 100%;
    border-radius: 10px;
    opacity: 0.8;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
}

    .investissement-moyen:hover,
    .transactions:hover,
    .evolution-actifs:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }

.transactions,
.investissement-moyen {
    padding: 20px;
    background-color: #1e1e1e;
    overflow: hidden;
}

/* BLOC TRANSACTIONS */
.transactions {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 20px;
    grid-column: 1;
    grid-row: 1/3;
}

/* BLOC INVESTISSEMENT */
.investissement-moyen {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    grid-column: 2/3;
    grid-row: 1;
}

/* BLOC EVOLUTION ACTIFS */
.evolution-actifs {
    display: grid;
    grid-column: 2/3;
    grid-row: 2;
}

.mes-actifs{
    display:flex;
    gap: 15px;
    animation: defilement linear 40s infinite;
}
    .mes-actifs:hover {
        animation-play-state: paused;
    }


@keyframes defilement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

::deep form {
    display: grid;
    gap: 20px;
}

::deep .form-grid label {
    font-size: 16px;
}

::deep .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}