.ajout-edit-modele {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    position:relative;
}

    .ajout-edit-modele:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }

    .ajout-edit-modele form {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto; 
    }

.ajout-edit-header ::deep select,
.ajout-edit-header ::deep input{
    transition: 0.4s ease-in-out;
}
.ajout-edit-header ::deep input:hover,
.ajout-edit-header ::deep select:hover,
.ajout-edit-header ::deep input:focus,
.ajout-edit-header ::deep select:focus {
    outline: none !important;
    box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4) !important;
}


.choix-ajout-edit-modele{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin: 0 auto;
    padding:10px;
    width:fit-content;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    border-radius: 50px;
}

.mode-ajout,
.mode-edit{
    border-radius: 50px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.mode-ajout:hover,
.mode-edit:hover,
.choix-ajout-edit-modele .selected{
    box-shadow: 0 4px 12px goldenrod !important;
    opacity: 0.4;
    border-radius: 50px;
    cursor: pointer;
}

.selected{
    box-shadow: 0 4px 12px gold !important;
    opacity: 0.4;
    border-radius: 50px;
    cursor: pointer;
}

.ajout-edit-header{
    display:inline-flex;
    align-items: center;
    gap:10px;
    font-size: 20px;
    font-weight: bold;
}

.ajout-edit-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ajout-edit-content ::deep input,
.ajout-edit-content ::deep select{
    border:none !important;
    background-color:#1e1e1e !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    transition: 0.4s ease-in-out;
}

.actif-modele-investissement {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid goldenrod;
    width: 100%;
    transition: 0.4s ease-in-out;
}
.actif-modele-investissement:hover{
    transform: scale(1.009);
}

.actif-modele-investissement .header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.actif-modele-investissement .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.actif-modele-investissement select,
.actif-modele-investissement input {
    background-color: rgb(45, 41, 41);
    border: none;
}

.dell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgba(255,0,0,0.7);
    color: rgb(45, 41, 41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.dell:hover {
    rotate: 90deg;
    background-color: rgb(255, 0, 0);
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 50px;
    color: goldenrod;
    border: 2px dashed goldenrod;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.add:hover {
    transform: translateY(4px);
    border: solid goldenrod;
}

.ajout-edit-footer{
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.btn {
    background-color: goldenrod;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    width:100%;
}
.btn:hover{
    transform: translate(-2px,2px);
    color: black;
}