.modele {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 30px;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.mes-modele{
    display:flex;
    flex-direction: column;
    gap:20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    opacity: 0.8;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.mes-modele:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.mes-modele-header {
    font-size: 20px;
    font-weight: bold;
}

.mes-modele-content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.un-modele {
    border: solid 2px rgb(82, 72, 72);
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.un-modele:hover {
    border:dashed 2px;
    border-color: red;
    cursor: pointer;
}

.un-modele.active {
    border-color: red;
}

.un-modele.active:hover {
    border: solid 2px;
    border-color: red;
}

.mes-modele-footer{
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.btn-suppr{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: ease-in-out 0.3s;
}

.btn-suppr{
    background-color: red;
}

.btn-suppr:hover{
    transform: translate(-2px,2px);
    color: black;
}