@inherits LayoutComponentBase
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome" />

<div class="auth-layout">
    @Body
</div>
