@using Investissement_WebClient.Web.GestionSession

@inherits LayoutComponentBase
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject SessionService Session

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"/>

<div class="main-layout">
    <nav>
        <NavLink class="nav-link" href="/budget">
            <div class="link">Budget</div>
        </NavLink>

        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <div class="link">Investissement</div>
        </NavLink>
    
        <NavLink class="nav-link" href="/patrimoine">
            <div class="link">Patrimoine</div>
        </NavLink>

        <NavLink class="nav-link" href="/profil">
            <div class="link">Profil</div>
        </NavLink>
    </nav>

    @Body

    <footer>
        <div class="footer-content">
            <label>Investissement @PrenomUser @(AnneeCreation == AnneeCourante ? AnneeCreation : AnneeCreation + "-" + AnneeCourante)</label>
        </div>
    </footer>
</div>


@code{
    private string PrenomUser { get; set; } = string.Empty;
    private string AnneeCreation { get; set; } = string.Empty;
    private string AnneeCourante { get; set; } = DateTime.Now.Year.ToString();

    protected override async Task OnInitializedAsync()
    {
        await Session.Initialiser();
        PrenomUser = Session.Prenom;
        AnneeCreation = Session.AnneeCreation;
    }
}
