nav {
    display: flex;
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    gap: 8px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

    nav:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.slider {
    position: absolute;
    top: 5px;
    height: calc(100% - 10px);
    background-color: rgba(218,165,32,.1);
    border: 1px solid rgba(218,165,32,.4);
    border-radius: 13px;
    transform: translateX(0);
    transition: transform .4s ease, width .4s ease;
}

::deep .nav-link {
    text-decoration: none;
    padding: .4rem 1rem;
}

    ::deep .nav-link.active .link {
        color: goldenrod;
        font-weight: 600;
    }

::deep .link {
    color: #9a9a9a;
    font-family: 'Consolas', monospace;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: color .6s ease;
}
