.bloc {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 20px;
}

    .bloc .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        font-size: 30px;
    }

    .bloc label {
        font-size: 20px;
    }

    .bloc span {
        color: grey;
    }

    .bloc .btn-submit {
        width: fit-content;
    }
