@inherits LayoutComponentBase
@inject NavigationManager NavManager
@rendermode InteractiveServer

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"/>

<nav>
    <NavLink class="nav-link" href="/patrimoine" >
        <div class="page">Patrimoine</div>
    </NavLink>

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <div class="page">Investissement</div>
    </NavLink>

    <NavLink class="nav-link" href="/profil">
        <div class="page">Profil</div>
    </NavLink>
</nav>

@Body

<footer>
    <div class="footer-content">
        <label>© Investissement 2025 - @(DateTime.Today.Year) </label>
    </div>
</footer>
