@using Investissement_WebClient.Web.Components.ViewsModels

@inject IToastService TS

<div class="header">
    <label>Flux @Model.DateActiveString</label>
    <button type="button" class="btn-transactions" @onclick="() => GetTransactions()">
        @if (Model.ActionEnCours)
        {
            <_Chargement />
        }
        else
        {
            <div>Récupérer les transactions de @Model.DateActiveString</div>
        }
    </button>
</div>

<div class="content">
    <p>Pour visualiser vos flux du mois, cliquez sur le bouton "Récuperer les transactions de @Model.DateActiveString".</p>
</div>

@code {
    [Parameter] public required BudgetViewModel Model { get; set; }

    private async Task GetTransactions()
    {
        await Model.GetFluxMensuel();

        if (Model.HasErreur)
        {
            TS.ShowError(Model.MessageErreur);
            Model.HasErreur = false;
            Model.MessageErreur = string.Empty;
            Model.ActionEnCours = false;
            return;
        }

        TS.ShowSuccess($"Données de {Model.DateActiveString} récupéré avec succès");
        await Model.MajVue();
    }
}