.une-categorie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ligne-horizontale{
    background-color:goldenrod;
    height:2px;
    border-radius:50px;
}