@using Investissement_WebClient.Application.ChartsOptions
@using Investissement_WebClient.Application.ViewsModels.Graphiques.Budgets
@using Investissement_WebClient.Web.Components.ViewsModels

<div class="header">
    <label>Récapitulatif Global</label>
</div>
<div class="content">
    @if (Model.BudgetLineCharts.Any())
    {
        <div class="investissement-content">
            <ApexChart TItem="BudgetParMoisLineChartVM"
                       XAxisType="XAxisType.Datetime"
                       Options="BudgetChartsOptions.OptionBudgetLineChart">

                @foreach (var categorie in Model.BudgetLineCharts)
                {
                    <ApexPointSeries TItem="BudgetParMoisLineChartVM"
                                     Items="categorie.BudgetCategorieParMois"
                                     Name="@categorie.Categorie"
                                     SeriesType="SeriesType.Line"
                                     YValue="@(e => e.Budget)"
                                     XValue="@(e => e.Date)" />
                }

            </ApexChart>
        </div>
    }
    else
    {
        <p>Aucune données enregistrées, récuperer et completer les flux d'une période au minimum pour visualiser le récapitulatif</p>
    }
</div>

@code {
    [Parameter] public BudgetViewModel Model { get; set; }
}