@using Investissement_WebClient.Application.ChartsOptions
@using Investissement_WebClient.Application.ViewsModels
@using Investissement_WebClient.Application.ViewsModels.Graphiques.Budgets
@using Investissement_WebClient.Domain.Enums
@using Investissement_WebClient.Web.Components.ViewsModels

<div class="header">
    <label>Récapitulatif @Model.DateActiveString</label>
    <button type="button" class="btn-transactions" @onclick="Model.EditerMoisComplete">Modifier les flux</button>
</div>

<div class="recapitulatif">
    <div class="content"> 
        <ApexChart TItem="ValeurParCategorieBarChartVM"
                   Options="BudgetChartsOptions.OptionsRecapitulatifBudgetMensuel">

            <ApexPointSeries TItem="ValeurParCategorieBarChartVM"
                             Items="Model.StatsGraphique"
                             Name="Valeur"
                             XValue="@(e =>  e.Categorie)"
                             YValue="@(e => e.Valeur)"
                             Color="#00FF00"
                             SeriesType="SeriesType.Bar" 
                             DataPointMutator="PointMutator" 
                             ShowDataLabels />
        </ApexChart>
    </div>
</div>

@code{
    [Parameter] public required BudgetViewModel Model { get; set; }

    private void PointMutator(IDataPoint<ValeurParCategorieBarChartVM> point)
    {
        var dataPoint = (DataPoint<ValeurParCategorieBarChartVM>)point;
        if (dataPoint.Y > 0)
        {
            dataPoint.FillColor = "#00FF00";
        }
        else
        {
            dataPoint.FillColor = "#FF0000";
        }
    }
}
