.connexion-bancaire {
    display: grid;
    justify-items: center;
    gap: 20px;
}

.icon-banque {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid goldenrod;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 30px;
}

label {
    font-size: 20px;
}
