.investir{
    display:grid;
    grid-template-columns:6fr 4fr;
    grid-template-rows: 100%;
    gap:30px;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.investissement,
.transactions{
    display:flex;
    flex-direction: column;
    gap:30px;
    min-height: 0;
    max-height: 100%;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.investissement:hover,
.transactions:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}
    
.investissement-header{
    display: flex;
    align-items: center;
}

.investissement-header select,
.investissement-header input {
    margin-left: 15px;
    margin-right: 15px;
}

.investissement-content {
    display: grid;
    gap: 15px;
}

.transaction-investissement {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid goldenrod;
}

.actif-transaction{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.valeurs-transaction{    
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.valeurs-transaction input{
    flex:1;
}

.actif-investissement select,
.actif-investissement input {
    background-color: rgb(45, 41, 41);
    border: none;
}

.dell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgba(255,0,0,0.7);
    color: rgb(45, 41, 41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .dell:hover {
        rotate: 90deg;
        background-color: rgb(255, 0, 0);
    }

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 50px;
    color: goldenrod;
    border: 2px dashed goldenrod;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
    .add:hover {
        transform: translateY(4px);
        border: solid goldenrod;
    }

.investissement-footer {
    position: sticky;
    bottom: 0;    
    right: 0;
    z-index: 100;
    padding: 10px;
    display: flex;
    align-items: center;
}

.btn-investir {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    width: 100%;
}

    .btn-investir:hover {
        transform: translate(-2px,2px);
        color: black;
    }

.transactions-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.transaction-dernier-invest {
    display: flex;
    align-content: center;
    justify-content: start;
    width: 100%;
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    transition: ease-in-out 0.3s;
}

.transaction-dernier-invest:hover {
    transform: scale(1.01);
}