/* --- LAYOUT PRINCIPAL --- */
.investir {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 100%;
    gap: 30px;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.investissement,
.mes-investissements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 0;
    max-height: 100%;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
}

    .investissement:hover,
    .mes-investissements:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }

/* --- FORMULAIRE D'AJOUT INVEST (Gauche) --- */
.investissement-infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #242424;
    padding:10px;
    border-radius : 7px;
}

.form-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
}

    .form-grid label {
        color: #999;
        font-size: 20px;
        font-weight: 500;
    }

select, input {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.investissement-infos input:hover,
.investissement-infos select:hover,
.investissement-infos input:focus,
.investissement-infos select:focus {
    outline: none !important;
    box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4) !important;
}

/* --- GESTION DES TRANSACTIONS --- */
.investissement-content {
    display: grid;
    gap: 15px;
}

    .investissement-content select,
    .investissement-content input {
        border: none !important;
        background-color: #1e1e1e !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        transition: 0.4s ease-in-out;
    }

        .investissement-content select:focus,
        .investissement-content input:focus {
            outline: none !important;
            border: none !important;
            box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4) !important;
        }

.transaction-investissement {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid goldenrod;
    transition: 0.4s ease-in-out;
}

    .transaction-investissement:hover {
        transform: translateY(-2px);
    }

.actif-transaction {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.valeurs-transaction {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

    .valeurs-transaction input {
        flex: 1;
    }

.actif-investissement select,
.actif-investissement input {
    background-color: rgb(45, 41, 41);
    border: none;
}

/* --- BOUTONS ET ACTIONS --- */
.dell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.7);
    color: rgb(45, 41, 41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .dell:hover {
        rotate: 90deg;
        background-color: rgb(255, 0, 0);
    }

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 50px;
    color: goldenrod;
    border: 2px dashed goldenrod;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

    .add:hover {
        transform: translateY(4px);
        border: solid goldenrod;
    }

.investissement-footer {
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 10px;
    display: flex;
    align-items: center;
}

.btn-investir {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    width: 100%;
}

    .btn-investir:hover {
        box-shadow: 0 4px 12px goldenrod;
        transform: translate(-2px, 2px);
        color: black;
    }

/* --- MES INVESTISSEMENTS (Droite) --- */
.mes-investissements-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .mes-investissements-content label {
        font-size: 20px;
    }

.mes-investissements-journalier {
    display: flex;
    flex-direction: column;
}

.date-total-mes-investissement-journalier {
    display: flex;
    align-items: center;
}

    .date-total-mes-investissement-journalier span {
        width: 15px;
        height: 5px;
        background-color: goldenrod;
        border-radius: 40px;
        margin-right: 12px;
        display: inline-block;
        box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4);
    }

    .date-total-mes-investissement-journalier label:first-child::first-letter {
        text-transform: uppercase;
    }

.un-investissement-journalier {
    display: flex;
    flex-direction: column;
    padding: 7px;
    gap: 15px;
    background-color: #242424;
    border-radius: 10px;
}

.mes-transactions-investissement-journalier {
    background-color: #202020;
    font-size: 20px;
    border-radius: 7px;
    transition: 0.25s ease-in-out;
}

    .mes-transactions-investissement-journalier:hover {
        box-shadow: 0 4px 12px #202020 !important;
        transform: translate(2px, -2px);
    }

    .mes-transactions-investissement-journalier label {
        text-transform: uppercase;
        font-size: 16px;
        color: #1E1E1E;
    }

    .mes-transactions-investissement-journalier .header {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: goldenrod;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        padding: 2px;
    }

        .mes-transactions-investissement-journalier .header:has(> :only-child) {
            justify-content: center;
        }

.btn-annuler-dernier-invest {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #1E1E1E;
    border-radius: 15px;
    padding: 3px;
    transition: 0.4s ease-in-out;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}

    .btn-annuler-dernier-invest:hover {
        color: #121212;
    }

.mes-transactions-investissement-journalier .content {
    padding: 5px;
}

    .mes-transactions-investissement-journalier .content label {
        color: #999;
        font-size: 16px;
        text-transform: none;
    }

.une-transaction-investissement-journalier {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .une-transaction-investissement-journalier span:first-child {
        width: 8px;
        height: 8px;
        background-color: goldenrod;
        border-radius: 50%;
        margin-right: 12px;
        display: inline-block;
        box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4);
    }

    .une-transaction-investissement-journalier .prix {
        display: inline-block;
        color: goldenrod;
    }
