.patrimoine {
    border-radius: 10px;
    padding: 15px;
    width: 90%;
}

.patrimoine-header {
    color:white;
}

.total-label {
    font-size: 20px;
    font-weight: normal;
}

.valeur-totale-courante {
    font-size: 30px;
    font-weight: bold;
}

.variation-prix {
    font-size: 18px;
}

.positive{
    color:green;
}

.negative {
    color:red;
}
