/* --- LAYOUT PRINCIPAL --- */
.profil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/* COMMUN BLOCS */

.perspectives,
.investissement,
.revenus,
.evolution-actifs {
    padding: 20px;
    min-height: 0;
    max-height: 100%;
    background-color: #1e1e1e;
    border-radius: 10px;
    opacity: 0.8;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
}

    .perspectives:hover,
    .investissement:hover,
    .revenus:hover,
    .evolution-actifs:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* BLOC PERSPECTIVES */
.perspectives {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    overflow: hidden;
    animation: apparitionGauche 0.8s ease-in forwards;
}

.btn-calcul {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: goldenrod;
    border: 1px solid rgba(173, 173, 173, 0.6);
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    transition: ease-in-out 0.3s;
}

    .btn-calcul:disabled {
        background-color: #999;
        color: #585d60;
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none; /*desactive les effets de survol*/
    }

    .btn-calcul:hover {
        box-shadow: 0 4px 12px goldenrod;
        transform: translate(-2px, 2px);
        color: black;
    }

.perspectives-infos {
    display: flex;
    background-color: #242424;
    padding: 10px;
    border-radius: 10px;
}

    .perspectives-infos .form-grid {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 10px;
        align-items: center;
        width: 100%
    }

.form-grid label {
    color: #999;
    font-size: 20px;
    font-weight: 500;
}

select, input {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.perspectives-infos input:hover,
.perspectives-infos select:hover,
.perspectives-infos input:focus,
.perspectives-infos select:focus {
    outline: none !important;
    box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4) !important;
}


/* BLOC INVESTISSEMENT */
.investissement {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-column: 3/5;
    grid-row: 1;
    animation: apparitionDroite 0.8s ease-in forwards;
}

.investissement-infos {
    display: flex;
    background-color: #242424;
    padding: 5px;
    border-radius: 10px;
}

    .investissement-infos .form-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        align-items: center;
        width: 100%
    }

        .investissement-infos .form-grid label {
            color: #999;
            font-size: 16px;
            font-weight: 500;
        }

span {
    color: goldenrod;
}


/* BLOC REVENUS */
.revenus {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-column: 3;
    grid-row: 2;
    animation: apparitionBas 0.8s ease-in forwards;
}


/* BLOC EVOLUTION ACTIFS */
.evolution-actifs {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-column: 4;
    grid-row: 2;
    animation: apparitionDroite 0.8s ease-in forwards;
}



/* ANIMATIONS APPARITIONS */
@keyframes apparitionGauche {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes apparitionDroite {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes apparitionBas {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}
