@page "/profil"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Profil</PageTitle>

<div class="profil">
    <div class="perspectives">
        <div class="header">
            <label>Perspectives</label>
        </div>
    </div>

    <div class="investissement">
        <div class="header">
            <label>Investissement</label>
        </div>
    </div>

    <div class="revenus">
        <div class="header">
            <label>Revenus</label>
        </div>
    </div>

    <div class="evolution-actifs">
        <div class="header">
            <label>Evolution actifs</label>
        </div>
    </div>
</div>

