.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    width: fit-content;
    transition: ease-in-out 0.3s;
}

.btn-transactions {
    background-color: goldenrod;
}

    .btn-transactions:hover {
        background-color: darkgoldenrod;
        transform: scale(0.99);
    }

.content {
    display:grid;
    gap:30px;
    overflow-y:auto;
}

.recapitulatif {
    display: grid;
    gap:15px;
    background-color: #242424;
    padding: 15px;
    border-radius: 10px;
}

    .recapitulatif .content {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 10px;
    }

    .recapitulatif .content>label{
        font-size:20px;
    }

.une-categorie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ligne-horizontale{
    background-color:goldenrod;
    height:2px;
    border-radius:50px;
}