@using Investissement_WebClient.Web.Components.Layout
@using Investissement_WebClient.Web.Components.ViewsModels
@using Investissement_WebClient.Web.GestionSession
@using Microsoft.AspNetCore.Components.Authorization

@page "/connexion"
@layout AuthLayout
@inject ConnexionViewModel CVM
@inject NavigationManager Nav
@inject IToastService TS
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Connexion</PageTitle>

<div class="login-register">
    <div class="header">
        <label>Connexion</label>
    </div>

    <EditForm Model="@CVM.InformationsConnexion" OnValidSubmit="TentativeConnexion">
        <DataAnnotationsValidator />

        <div>
            <InputText @bind-Value="CVM.InformationsConnexion.Email" placeholder="Email" />
            <ValidationMessage class="erreur" For="@(() => CVM.InformationsConnexion.Email)" />
        </div>
        <div>
            <InputText @bind-Value="CVM.InformationsConnexion.Mdp" type="password" placeholder="Mot de passe" />
            <ValidationMessage class="erreur" For="@(() => CVM.InformationsConnexion.Mdp)" />
        </div>

        <button class="btn-submit" disabled="@IsLoading">
            @if (IsLoading) 
            {
                <_Chargement />
            }
            else
            {
                <span>Se connecter</span>
            }
        </button>
        <p>Vous n'avez pas encore de compte ? <a href="/inscription">Enregistrez-vous</a></p>
    </EditForm>
</div>

@code {
    public bool IsLoading { get; set; } = false;

    public async Task TentativeConnexion()
    {
        IsLoading = true;

        await CVM.TentativeConnexion();

        if (CVM.HasErreur)
        {
            TS.ShowError(CVM.MessageErreur);
            CVM.HasErreur = false;
            CVM.MessageErreur = string.Empty;
            IsLoading = false;
            return;
        }

        var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(CVM.SessionUtilisateur);

        Nav.NavigateTo("/");
    }
}
