@using Investissement_WebClient.Web.Components.ViewsModels
@using Investissement_WebClient.Web.Components.Layout

@page "/connexion"
@layout AuthLayout
@inject ConnexionViewModel CVM
@inject NavigationManager Nav
@inject IToastService TS

<PageTitle>Connexion</PageTitle>

<div class="login-register">
    <div class="header">
        <label>Connexion</label>
    </div>

    <EditForm Model="@CVM.InformationsConnexion" OnValidSubmit="TentativeConnexion">
        <DataAnnotationsValidator />

        <div>
            <InputText @bind-Value="CVM.InformationsConnexion.Email" placeholder="Email" />
            <ValidationMessage class="erreur" For="@(() => CVM.InformationsConnexion.Email)" />
        </div>
        <div>
            <InputText @bind-Value="CVM.InformationsConnexion.Mdp" type="password" placeholder="Mot de passe" />
            <ValidationMessage class="erreur" For="@(() => CVM.InformationsConnexion.Mdp)" />
        </div>

        <button class="btn-submit">Se connecter</button>
        <p>Vous n'avez pas encore de compte ? <a href="/inscription">Enregistrez-vous</a></p>
    </EditForm>
</div>

@code {
    public async Task TentativeConnexion()
    {
        await CVM.TentativeConnexion();

        if (CVM.HasErreur)
        {
            TS.ShowError(CVM.MessageErreur);
            CVM.HasErreur = false;
            CVM.MessageErreur = string.Empty;
            return;
        }

        Nav.NavigateTo("/profil");
    }
}
