@using Investissement_WebClient.Web.Components.ViewsModels
@using Microsoft.AspNetCore.Authorization

@page "/profil"
@attribute [Authorize]
@inject ProfilViewModel PVM
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Profil</PageTitle>

<div class="profil">
    <div class="perspectives">
        <div class="header">
            <label>Perspectives</label>
        </div>

        <div class="perspectives-infos">
            <div class="form-grid">
                <label>Investissement mensuel</label>
                <div class="info">
                    <input @bind="PVM.InvestissementMoyenMensuel" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>€</label>

                <label>Evolution Annuelle</label>
                <div class="info">
                    <input @bind="PVM.EvolutionAnnuellePourcentage" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>%</label>

                <label>Nombre d'années</label>
                <div class="info">
                    <input @bind="PVM.PerspectiveNbAnnees" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>ans</label>
            </div>
        </div>

        <div class="perspectives-graphique">
            <_GraphiquePerspectivePatrimoine PerspectivesValeurPatrimoineParAn="@PVM.PerspectivesValeurPatrimoineParAn" />
        </div>
    </div>

    <div class="bloc2">
        <div class="header">
            <label>Bonjour @PVM.PrenomUser</label>
        </div>
    </div>
    <div class="bloc3"></div>
    <div class="bloc4"></div>
</div>

@code {
    [Parameter][SupplyParameterFromQuery(Name = "creation")] public string? CreationStatus { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (CreationStatus == "succes")
            TS.ShowSuccess("Votre compte a été créé avec succès !");

        await PVM.LoadData();
    }

    private async Task CalculerEvolutionDuPatrimoine()
    {
        await PVM.CalculerEvolutionDuPatrimoine();

        if (PVM.HasError)
        {
            TS.ShowError(PVM.ErrorMessage);
            PVM.HasError = false;
            PVM.ErrorMessage = string.Empty;
        }
    }
}