@using Investissement_WebClient.Web.Components.ViewsModels

@page "/profil"
@inject ProfilViewModel IVM
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Profil</PageTitle>

<div class="profil">
    <div class="perspectives">
        <div class="header">
            <label>Perspectives</label>
        </div>

        <div class="perspectives-infos">
            <div class="form-grid">
                <label>Investissement mensuel</label>
                <div class="info">
                    <input @bind="IVM.InvestissementMoyenMensuel" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>€</label>

                <label>Evolution Annuelle</label>
                <div class="info">
                    <input @bind="IVM.EvolutionAnnuellePourcentage" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>%</label>

                <label>Nombre d'années</label>
                <div class="info">
                    <input @bind="IVM.PerspectiveNbAnnees" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>ans</label>
            </div>
        </div>

        <div class="perspectives-graphique">
            <_GraphiquePerspectivePatrimoine PerspectivesValeurPatrimoineParAn="@IVM.PerspectivesValeurPatrimoineParAn" />
        </div>
    </div>

    <div class="bloc2"></div>
    <div class="bloc3"></div>
    <div class="bloc4"></div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await IVM.LoadData();
    }

    private async Task CalculerEvolutionDuPatrimoine()
    {
        await IVM.CalculerEvolutionDuPatrimoine();

        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.HasError = false;
            IVM.ErrorMessage = string.Empty;
        }
    }
}