.transactions {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    height: 100%;
    min-height: 0;
    overflow: hidden;
}

.transactions-infos {
    display: grid;
    gap: 15px;
    border-radius: 10px;
}

    .transactions-infos .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

select, input {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.transactions-infos input:hover,
.transactions-infos select:hover,
.transactions-infos input:focus,
.transactions-infos select:focus {
    outline: none !important;
    box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4) !important;
}

.content-transactions {
    overflow-y: auto;
    min-height: 0;
}

.recherche {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #242424;
    border-radius: 9px;
    padding: 5px 10px;
    height: fit-content;
    transition: box-shadow .2s ease;
}

    .recherche img {
        width: 22px;
        height: 22px;
        opacity: .7;
        flex-shrink: 0;
    }

    .recherche input {
        all: unset;
        width: 100%;
        outline: none;
        border: none;
        box-shadow: none;
    }

        .recherche input:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }


.mes-transactions-par-jour {
    display: flex;
    flex-direction: column;
}

    .mes-transactions-par-jour span {
        font-size: 13px;
        font-weight: normal;
    }

.mes-transactions-par-jour-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .mes-transactions-par-jour-header label:first-child::first-letter {
        text-transform: uppercase;
    }

    .mes-transactions-par-jour-header label {
        font-size: 16px;
        font-weight: 500;
    }

    .mes-transactions-par-jour-header .left {
        display: inline-flex;
        align-items: center;
    }

.ordres {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    color: #1e1e1e;
    border-radius: 999px;
    width: fit-content;
    height: 100%;
    padding: 0 5px;
}

    .ordres span {
        font-weight: 500;
        font-size: 12px;
    }

.mes-transactions-par-jour-content {
    display: grid;
    gap: 5px;
    padding: 7px;
}

.une-transaction {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 5px;
    gap: 10px;
    transition: 0.25s ease-in-out;
}

    .une-transaction:not(:last-child) {
        border-bottom: 1px solid rgba(255,255,255,.05);
        padding-bottom: 10px;
    }

.achat,
.vente {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
}

.achat {
    color: green;
    background-color: rgba(0,255,0,0.1)
}

    .achat::before {
        content: "+";
    }

.vente {
    color: red;
    background-color: rgba(255,0,0,0.1)
}

    .vente::before {
        content: "-";
    }

.grid-end {
    display: grid;
    text-align: end;
}

.grid-start {
    display: grid;
    text-align: start;
}


.infos {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
}

.btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

    .btn-edit:hover {
        transform: rotate(45deg);
    }

