@using Investissement_WebClient.Application.ViewsModels.Graphiques

    @* Pie : proportion investit par actif par rapport au total investit *@

    @if (ValeurParActifInvestit.Any())
    {
        <div style="flex:1">
        <ApexChart TItem="ValeurTotaleParActifVM"
                       Title="Répartition investissement par actif"
                       Options="ChartsOptionsPatrimoine.OptionsPieActif">

            <ApexPointSeries TItem="ValeurTotaleParActifVM"
                             Items="ValeurParActifInvestit"
                             SeriesType="SeriesType.Pie"
                             XValue="@(e => e.Actif)"
                             YValue="@(e => e.Valeur)"
                             OrderByDescending="e => e.Y" 
                             ShowDataLabels />
            </ApexChart>
        </div>
    }
               

@code {
    [Parameter] public IEnumerable<ValeurTotaleParActifVM> ValeurParActifInvestit { get; set; } = [];
}
