@using Investissement_WebClient.Application.ViewsModels.Graphiques

@* Pie : proportion investit par type par rapport au total investit *@

@if (ProportionParTypeActif.Any())
{
    <div style="flex:1">
        <ApexChart TItem="ProportionTypeActifVM"
                   Title="Proportion investit par type d'actif"
                   Options="ChartsOptionsPatrimoine.OptionsPieType">

            <ApexPointSeries TItem="ProportionTypeActifVM"
                             Items="ProportionParTypeActif"
                             SeriesType="SeriesType.Pie"
                             XValue="@(e => e.Type)"
                             YValue="@(e => e.Proportion)"
                             OrderByDescending="e => e.Y" />
        </ApexChart>
    </div>
}

               
@code {
    [Parameter] public IEnumerable<ProportionTypeActifVM> ProportionParTypeActif { get; set; } = [];
}
