@using Investissement_WebClient.Application.ViewsModels.Graphiques

    @* Pie : proportion investit par actif par rapport au total investit *@

    @if (ProportionParActif.Any())
    {
        <div style="flex:1">
            <ApexChart TItem="ProportionActifVM"
                       Title="Proportion investit par actif"
                       Options="ChartsOptionsPatrimoine.OptionsPieActif">

                <ApexPointSeries TItem="ProportionActifVM"
                                 Items="ProportionParActif"
                                 SeriesType="SeriesType.Pie"
                                 XValue="@(e => e.Actif)"
                                 YValue="@(e => e.Proportion)"
                                 OrderByDescending="e => e.Y" />
            </ApexChart>
        </div>
    }
               

@code {
    [Parameter] public IEnumerable<ProportionActifVM> ProportionParActif { get; set; } = [];
}
