.resume-patrimoine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.valeur-totale-courante {
    line-height: 1;
    font-size: 32px;
    font-weight: bold;
}

    .valeur-totale-courante label {
        line-height: 1;
        font-size: 30px;
        font-weight: bold;
    }

.gain-total {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

    .gain-total span {
        line-height: 1;
        font-size: 16px;
        font-weight: normal;
    }


    .gain-total label {
        font-size: 14px;
        font-weight: normal;
        color: grey;
    }


.variations-prix {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.variation-prix {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.variation-prix:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 16px;

    background: rgba(255,255,255,.12);

    margin-left: 18px;
    margin-right: 18px;
}


.variation-prix label {
    font-size: 14px;
    font-weight: normal;
    color: grey;
}

@media (max-width: 1400px) {

    .valeur-totale-courante label {
        font-size: 24px;
    }

    .gain-total span {
        font-size: 14px;
    }

    .gain-total label {
        font-size: 12px;
    }

    .variation-prix:not(:last-child)::after {
        margin-left: 10px;
        margin-right: 10px;
    }
}
