.resume-patrimoine {
    display: flex;
    align-items:center;
    gap:10px;
}

    .resume-patrimoine img {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.infos-patrimoine {
    display: grid;
    align-items: center;
    gap: 6px;
}

    .valeur-totale-courante label {
        line-height: 1;
        font-size: 32px;
        font-weight: bold;
    }

.gain-total {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

    .gain-total span {
        line-height: 1;
        font-size: 16px;
        font-weight: normal;
    }


    .gain-total label {
        font-size: 14px;
        font-weight: normal;
        color: grey;
    }

@media (max-width: 1400px) {

    .valeur-totale-courante label {
        font-size: 26px;
    }

    .gain-total span {
        font-size: 14px;
    }

    .gain-total label {
        font-size: 12px;
    }

    .variation-prix:not(:last-child)::after {
        margin-left: 10px;
        margin-right: 10px;
    }
}
