body {
    background-color: #121212;
    color: white;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 15px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.auth-layout {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
}
    footer:hover{
        opacity: 1;
    }

.footer-content {
    width: 100%;
    text-align: center;
}
.footer-content label {
    color: goldenrod;
    font-size: 18px;
    font-style: italic;
}


label {
    font-size: 28px;
    font-weight: bold;
}

.negatif{
    color:red;
}

.posititf{
    color: green;
}

select,
input{
    font-size: 16px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    border: solid 1px goldenrod;
    height: 40px;
    background-color: #1e1e1e;
    width: 100%;
    transition: 0.4s ease-in-out;
}

    input:hover,
    select:hover,
    input:focus,
    select:focus {
        outline: none !important;
        box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4) !important;
    }


/*enlever l'icone du type number (fleches pour de/incrementer la valeur)*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

select:hover {
    color : white;
    background-color: #1e1e1e;
}

button:disabled {
    background-color: #999;
    color: #585d60;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none; /*desactive les effets de survol*/
}

.credit {
    color: green;
}

.debit {
    color: red;
}

p {
    color: grey;
    margin-bottom:0;
}
.erreur{
    color:red;
    font-weight:bold;
}

/* PAGES AUTH */
.login-register {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 30px;
    background-color: #1e1e1e;
    border-radius: 10px;
    opacity: 0.8;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}

    .login-register:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }


.login-register .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-register form {
    display: grid;
    gap: 15px;
    width: 100%;
}

.btn-submit {
    background-color: goldenrod;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.3s;
}

    .btn-submit:hover {
        background-color: darkgoldenrod;
        transform: scale(0.99);
    }


/* --- STRUCTURE GLOBALE TOAST--- */
html body .blazored-toast-container {
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 99999 !important;
    display: flex !important;
    flex-direction: column !important;
}


/* personnalisation des notif blazor toast */
html body .blazored-toast-container .blazored-toast {
    display: flex !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 8px !important;
    color: white !important;
    font-weight: bold !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
    position: relative !important;
    
    animation:
            slideInRight 0.4s ease-out forwards,
            slideOutRight 0.4s ease-in forwards 4.6s !important;
}

    html body .blazored-toast-container .blazored-toast.blazored-toast-success {
        background-color: #007f1f !important;
        border: none !important;
    }

    html body .blazored-toast-container .blazored-toast.blazored-toast-warning {
        background-color: goldenrod !important;
        border: none !important;
    }

    html body .blazored-toast-container .blazored-toast.blazored-toast-info {
        background-color: #0069bd !important;
        border: none !important;
    }

    html body .blazored-toast-container .blazored-toast.blazored-toast-error {
        background-color: #bd0016 !important;
        border: none !important;
    }

    html body .blazored-toast-container .blazored-toast.blazored-toast-error p,
    html body .blazored-toast-container .blazored-toast.blazored-toast-info p,
    html body .blazored-toast-container .blazored-toast.blazored-toast-warning p,
    html body .blazored-toast-container .blazored-toast.blazored-toast-success p {
        color: white !important;
        font-weight:bold;
    }

    /* --- ANIMATION SLIDE --- */
    @keyframes slideInRight {
        from {
            transform: translateX(100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

@keyframes slideOutRight {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(100%); opacity: 0; }
}

html body .blazored-toast-container .blazored-toast .blazored-toast-close {
    all: unset !important;
    margin-left: auto !important;
    margin-right: -5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    
    cursor: pointer !important;
    font-size: 0 !important;
    color: transparent !important;
    width: 24px !important;
    height: 24px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


html body .blazored-toast-container .blazored-toast .blazored-toast-close::before {
    content: "✕" !important;    
    font-size: 24px !important; 
    color: red !important;     
    font-family: Arial, sans-serif !important;
    font-weight: bold !important;
    visibility: visible !important; 
    display: block !important;
    opacity: 0.6 !important;
    transition: 0.2s ease-in-out;
}
html body .blazored-toast-container .blazored-toast .blazored-toast-close:hover::before {
    opacity: 1 !important;
    transform: rotateX(45deg) !important;
}


/* Modernisation de la barre de scrool */
html, body, main, div {
    scrollbar-color: #444 transparent;
    scrollbar-width: thin; 
}