.actif {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 15px;
}

.ajout-actif {
    grid-row: 1;
    grid-column: 1;
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    padding: 15px;
}

.ajout-actif-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 4px;
}

.ajout-actif-content {
    display: grid;
    gap: 10px;
}

.ajout-actif-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-ajout {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .btn-ajout:hover {
        transform: scale(1.10);
        color: black;
    }

.edit-actif {
    grid-row: 1;
    grid-column: 2;
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    padding: 15px;
}

.edit-actif-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.edit-actif-content {
    display: grid;
    gap: 10px;
}

.edit-actif-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-edit {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .btn-edit:hover {
        transform: scale(1.10);
        color: black;
    }

.suppr-actif {
    display: flex;
    flex-direction:column;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    gap: 20px;
    padding: 15px;
}

.suppr-actif-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.suppr-actif-content {
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.actif-enregistre-content {
    border: solid 2px rgb(82, 72, 72);
    margin-left: 10px;
    font-size: 26px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

    .actif-enregistre-content:hover {
        transform: scale(1.05);
        border-color: red;
        cursor:pointer;
    }

    .actif-enregistre-content.active {
        border-color: red;
    }

.suppr-actif-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-suppr-actif {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .btn-suppr-actif:hover {
        transform: scale(1.08);
        color: black;
    }
