@page "/bourse"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Bourse</PageTitle>

<div class="bourse">
    <div class="bourse-header">
        test synchronisation windows/ubuntu
    </div>
    <div class="bourse-content">
    </div>
    <div class="bourse-footer">
    </div>
</div>
