.investir{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.investissement {
    width: 90%;
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    padding: 15px;
}

.investissement-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actif-investissement {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    border-color: gold;
    border-width: 2px;
    padding: 5px; /* Garde l'espace à gauche du select */
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
    .actif-investissement line-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

        .actif-investissement select {
            justify-content:start;
            width:69%;
        }

.dell {
    justify-content: end;
    width: 20%;
    background-color: red;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .dell:hover {
        transform: scale(1.10);
        background-color: red;
    }

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 155px;
    font-size: 50px;
    color: gold;
    border: 2px dashed,gold;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: ease-in-out 0.3s;
}

    .add:hover {
        transform: scale(1.03);
        background-color: gold;
        color: rgb(82, 72, 72);
    }

        .investissement-footer {
            display: flex;
            justify-content: flex-end;
        }

.btn-investir {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

            .btn-investir:hover {
                transform:scale(1.15);
                color: black;
                background-color: gold;
            }

.transactions {
    width: 90%;
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    padding: 15px;
}

.transactions-content {
    display: flex;
    flex-direction:column;
    gap: 5px;
}

.transaction-dernier-invest {
    display: flex;
    align-content:center;
    justify-content:start;
    border: solid;
    border-radius: 10px;
    border-color: gold;
    border-width: 1px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    padding:5px;
    gap:20px;
}