.modele {
    display:grid;
    grid-template-columns:7fr 3fr;
    gap:30px;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.modele:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ajout-edit-modele,
.mes-modele{
    display:flex;
    flex-direction: column;
    gap:20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

.ajout-edit-modele:hover,
.mes-modele:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.choix-ajout-edit-modele{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin: 0 auto;
    padding:10px;
    width:fit-content;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    border-radius: 50px;
}

.mode-ajout,
.mode-edit{
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.mode-ajout:hover,
.mode-edit:hover,
.choix-ajout-edit-modele .selected{
    background-color: rgba(45, 41, 41);
    border-radius: 50px;
    padding : 10px;
    cursor: pointer;
}

.ajout-modele,
.edit-modele{
    display:flex;
    flex-direction: column;
    gap:30px;
}

.ajout-modele-header,
.edit-modele-header{
    display:inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 4px;
    padding-right:10px;
}

.ajout-modele-content,
.edit-modele-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.actif-modele-investissement {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid goldenrod;
}

.actif-modele-investissement .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.actif-modele-investissement .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.actif-modele-investissement select,
.actif-modele-investissement input {
    background-color: rgb(45, 41, 41);
    border: none;
}

.dell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: rgb(45, 41, 41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.dell:hover {
    rotate: 90deg;
    background-color: rgb(255, 0, 0);
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 124px;
    font-size: 50px;
    color: goldenrod;
    border: 2px dashed goldenrod;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.add:hover {
    transform: translate(-4px,4px);
    border: solid goldenrod;
}

.ajout-modele-footer,
.edit-modele-footer,
.mes-modele-footer{
    display: flex;
    justify-content: flex-end;
}

.mes-modele-header {
    font-size: 20px;
    font-weight: bold;
}

.mes-modele-content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.un-modele {
    border: solid 2px rgb(82, 72, 72);
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.un-modele:hover {
    border:dashed 2px;
    border-color: red;
    cursor: pointer;
}

.un-modele.active {
    border-color: red;
}

.un-modele.active:hover {
    border: solid 2px;
    border-color: red;
}

.btn-ajout,
.btn-edit,
.btn-suppr{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.btn-ajout,
.btn-edit{
    background-color: goldenrod;
}

.btn-suppr{
    background-color: red;
}

.btn-ajout:hover,
.btn-edit:hover,
.btn-suppr:hover{
    transform: translate(-2px,2px);
    color: black;
}