.modele {
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    padding: 15px;
    width: 97%;
}

.modele-header {
    display:inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 4px;
    padding-right:10px;
}

.ajout-modele-content {
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    max-height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
}

.actif-modele-investissement {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    border-color: gold;
    border-width: 2px;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.dell {
    justify-content: end;
    background-color: red;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .dell:hover {
        transform: translate(1px,-1px);
    }

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 109px;
    font-size: 50px;
    color: gold;
    border: 2px dashed,gold;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.add:hover {
    transform: translate(4px,-4px);
    background-color: gold;
    color: rgb(82, 72, 72);
}

.ajout-modele-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-ajout-modele {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .btn-ajout-modele:hover {
        transform: translate(2px,-2px);
        color: black;
    }

.edit-modele {
    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    padding: 15px;
}

.edit-modele-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 4px;
}

.edit-modele-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.edit-modele-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-edit-modele {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .btn-edit-modele:hover {
        transform: translate(2px,-2px);
        color: black;
    }

.suppr-modele {
    display: flex;
    flex-direction:column;
    gap: 20px;
}

.suppr-modele-content{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.modele-enregistre-content {
    border: solid 2px rgb(82, 72, 72);
    margin-left: 10px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

    .modele-enregistre-content:hover {
        border: dashed 2px;
        border-color: red;
        cursor: pointer;
    }

    .modele-enregistre-content.active {
        border-color: red;
    }

        .modele-enregistre-content.active:hover {
            border: solid 2px;
            border-color: red;
        }

.suppr-modele-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-suppr-modele {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

    .btn-suppr-modele:hover {
        transform: translate(2px,-2px);
        color: black;
    }
