@page "/patrimoine"
@inject IJSRuntime JS

<PageTitle>Patrimoine</PageTitle>

<div class="patrimoine">
    <div class="patrimoine-header">
        <label class="total">Total</label>
        <label class="valeur">1205€</label>
    </div>
    <div class="patrimoine-content">
    </div>
    <div class="patrimoine-footer">
    </div>
</div>
