.actif {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
}

.mes-actifs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    height: 100%; 
    min-height: 0;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}
.mes-actifs:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.mes-actifs-footer{
    display: flex;
    justify-content: flex-end;
}

.mes-actifs-header {
    font-size: 20px;
    font-weight: bold;
}

.mes-actifs-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mes-actifs-content label{
    font-size: 20px;
}

.type-actif{
    display: flex;
    flex-direction: column;
    gap:3px;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.un-actif {
    border: solid 2px #202020;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
}

.un-actif:hover {
    border:dashed 2px;
    border-color: red;
    cursor: pointer;
}

.un-actif.active {
    border-color: red;
}

.un-actif.active:hover {
    border: solid 2px;
    border-color: red;
}

.btn-suppr{
    background-color: red;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.btn-suppr:hover{
    transform: translate(-2px,2px);
    color: black;
}
