.actif {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
}

.mes-actifs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    position: relative;
    transition: all 0.3s ease-in-out;
    position: relative;
    animation: apparitionDroite 0.8s ease-in forwards;
}
    .mes-actifs:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }

.mes-actifs-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* Ajout d'une ombre en dessous du header */
    .mes-actifs-header::after {
        content: "";
        position: absolute;
        top: 100%; /* Se place exactement en bas du header */
        left: 0;
        width: 100%;
        height: 50px; /* hauteur de l'ombre */
        background: linear-gradient( to bottom, #1e1e1e, transparent );
        pointer-events: none; /* Pour pouvoir cliquer sur les éléments dessous */
    }
    
.mes-actifs-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .mes-actifs-content label{
        text-transform: uppercase;
        font-size: 20px;
    }

.un-type-actif{
    display:flex;
    flex-direction: column;
    gap: 5px;
}
    
.un-type-actif-content{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.un-type-actif span:first-child {
    width: 8px;
    height: 8px;
    background-color: goldenrod;
    border-radius: 50%;
    margin-right: 12px;
    box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4);
}

.un-actif-enregistre {
    display: flex;
    align-items: center;
    gap: 5px;
}
    
    .un-actif-enregistre label{
        color: #999;
        font-size: 18px;
        text-transform: none;
        border: dashed 2px transparent;
        border-radius: 10px;
        transition:  0.3s ease-in-out;
    }
    
    .un-actif-enregistre label:hover {
        transform: translateX(2px);
        border-color: red;
        cursor: pointer;
    }

.un-actif-enregistre label.active {
    border : 2px solid red;
}

    .un-actif-enregistre label.active:hover {
        box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4) !important;
        border-color: red;
    }
    

/* --- BOUTONS --- */
.btns{
    display:flex;
    gap:20px;
}

.btn-suppr{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: red;
    border: 1px solid rgba(173, 173, 173, 0.6);
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    transition: ease-in-out 0.3s;
}

    .btn-suppr:hover{
        box-shadow: 0 4px 12px red;
        transform: translate(-2px,2px);
        color: black;
    }

.btn-effacer-selection{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    background-color: grey;
    border: 1px solid rgba(173, 173, 173, 0.6);
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    transition: ease-in-out 0.3s;
}

.btn-effacer-selection:hover{
    box-shadow: 0 4px 12px grey;
    transform: translate(-2px,2px);
    color: black;
}

.btn-effacer-selection:disabled,
.btn-suppr:disabled {
    background-color: #999;
    color: #585d60;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none; /*desactive les effets de survol*/
}


/* ANIMATIONS APPARITIONS */
@keyframes apparitionGauche {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes apparitionDroite {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes apparitionBas {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}