.ajout-edit-actif {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}
    .ajout-edit-actif:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }

.choix-mode-actif{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin: 0 auto;
    padding:10px;
    width:fit-content;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    border-radius: 50px;
}

.mode-ajout,
.mode-edit{
    padding:10px;
    border-radius: 50px;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}
.mode-ajout:hover,
.mode-edit:hover{
    opacity: 1;
    box-shadow: 0 4px 12px goldenrod !important;
    border-radius: 50px;
    cursor: pointer;
}

.selected{
    opacity: 1;
    box-shadow: 0 4px 12px gold !important;
    border-radius: 50px;
    cursor: pointer;
}

.ajout-edit-actif ::deep select,
.ajout-edit-actif ::deep input{
    transition: 0.4s ease-in-out;
}
.ajout-edit-actif ::deep select:hover,
.ajout-edit-actif ::deep input:hover,
.ajout-edit-actif ::deep select:focus,
.ajout-edit-actif ::deep input:focus{
    outline: none !important;
    box-shadow: 0 4px 12px rgba(218, 165, 32, 0.4) !important;
}


.ajout-edit-header{
    display:flex;
    gap:10px;
    font-size: 20px;
    font-weight: bold;
}

.ajout-edit-content {
    display: grid;
    gap: 20px;
}

.ajout-edit-footer{
    display: flex;
    justify-content: flex-end;
}

.btn{
    background-color: goldenrod;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.btn:hover{
    transform: translate(-2px,2px);
    color: black;
}

select{
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}