.ajout-edit-content{
    display: grid;
    gap: 20px;
}

.ajout-edit-actif{
    display:flex;
    flex-direction: column;
    gap:50px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}
.ajout-edit-actif:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.choix-mode-actif{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin: 0 auto;
    padding:10px;
    width:fit-content;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    border-radius: 50px;
}

.mode-ajout,
.mode-edit{
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.mode-ajout:hover,
.mode-edit:hover,
.selected{
    background-color: rgba(45, 41, 41);
    border-radius: 50px;
    padding : 10px;
    cursor: pointer;
}

.ajout-edit-header{
    display:flex;
    gap:10px;
    font-size: 20px;
    font-weight: bold;
}

.ajout-edit-footer{
    display: flex;
    justify-content: flex-end;
}

.btn{
    background-color: goldenrod;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 72, 72);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.btn:hover{
    transform: translate(-2px,2px);
    color: black;
}

select{
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}