.compte-courant {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar,
.content {
    height: 100%;
    gap: 30px;
    padding: 7px 13px;
    min-height: 0;
    max-height: 100%;
    background-color: #1e1e1e;
    border-radius: 10px;
    opacity: 0.8;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
}

    .sidebar:hover,
    .content:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
    }

.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;
}

