.patrimoine {
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 20px;
    padding: 20px;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
}

.patrimoine-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color:white;
    padding:15px;
    gap:5px;
    background-color: #1e1e1e;
    border-radius: 10px;
    opacity: 0.8;
    width:fit-content;
    transition: all 0.3s ease-in-out;
}
.patrimoine-infos:hover,
.patrimoine-content:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.valeur-totale-courante label {
    line-height: 1;
    font-size: 30px;
    font-weight: bold;
}

.variations-prix{
    display: flex;
    gap:20px;
}

.variation-prix label {
    font-size: 14px;
    font-weight: normal;
    color: grey;
}

.variation-prix.neutre{
    color:grey;
}

.variation-prix.positive{
    color:green;
}

.variation-prix.negative {
    color:red;
}


.patrimoine-content {
    width:100%;
    background-color: #1e1e1e;
    border-radius: 10px;
    height: 100%;
    opacity: 0.8;
    overflow: hidden;
    position:relative;
}

    .patrimoine-content span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-style: italic;
        width: 25%; /* 25% de 400% = 100% = longueur d'une seule page */
        height: 100%;
    }

.btn-rond {
    display: flex;
    align-items: center;
    height:100%;
    width:50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    z-index: 100;
    color: white;
    position: absolute;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
    user-select: none;
    border-radius:15px;
}

.gauche {
    justify-content: end;
    left: 0;
    transform: translateX(-25px);
    transition: all 0.2s ease-in-out;
}
    .gauche:hover {
        justify-content: center;
        transform: translateX(-5px);
    }

.droite {
    justify-content: start;
    right: 0;
    transform: translateX(25px);
    transition: all 0.2s ease-in-out;
}
    .droite:hover {
        justify-content: center;
        transform: translateX(5px);
    }

.rail {
    overflow: hidden;
    display: flex;
    gap:0;
    width: 400%;
    height:100%;
    transition: transform 0.5s ease-in-out;
}

.page {
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow: hidden;
    width:25%;
}

.page1 {
    transform: translateX(0%);
}

.page2 {
    transform: translateX(-25%);
}

.page3 {
    transform: translateX(-50%);
}

.page4 {
    transform: translateX(-75%);
}
